@import "tailwindcss";

.content-area {
  background-image: url("../public/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-position: center;

}

.ticket-revenue,
.total-ticket {
  background: rgba(108, 107, 107, 0.263);
  border-radius: 1.5vw 0px 1.5vw 1.5vw;
  clip-path: polygon(0% 0%, 84% 0%, 100% 18%, 100% 100%, 0% 100%);
}

.cutrow {
  border-radius: 10px 0px 10px 10px;
  clip-path: polygon(0% 0%, 95% 0%, 100% 15%, 100% 100%, 0% 100%);
  border: 1px solid rgb(95, 94, 94);
}
.shadow-text{
  text-shadow: -6px 0 0 gray;
}
.yellow-shadow{
  text-shadow: -6px 0 0 rgb(71, 71, 6);
}

 
 
 
.lr-cut-div {
  clip-path: polygon(10% 0%, 90% 0%, 100% 25%, 100% 100%, 0% 100%, 0% 25%);
  border-radius: 0 0 2vw 2vw;
}
button {
  cursor: pointer;
}
.expert-match {
  clip-path: polygon(0% 0%, 55% 0%, 100% 60%, 100% 100%, 0% 100%);
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.check-box {
  color: blue;
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid gray;
  padding: 2px 4px;

  display: block;
}


/* for ticket map  */
.left-section{
  /* clip-path: polygon(20% 0%, 65% 26%, 66% 78%, 19% 100%); */
}



.dull-border-box {
  padding: 20px;
  background: white;
  border-left: 2px solid white;
  background-image: linear-gradient(to bottom, #e5c839 0%, rgba(229, 200, 57, 0.3) 20%, rgba(229, 200, 57, 0.3) 80%, #e5c839 100%);
  background-origin: border-box;
  background-clip: content-box, border-box; 
}

.error{
  color: red;
  font-size: 11px;
}
.react-dropdown-select-dropdown{
  background-color: #e5c839;
}